#form{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
#form h2{
    margin-top: -40px;
}
#form input{
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
    display: grid;
    line-height: 20px;
}
#form label{
    line-height: 30px;
}
#form button{
    margin-top: 20px;
    margin-left: 35%;
}